<div class="contener-fliud bg-white p-4">
    <h1>Update Slider</h1>
    <form action="/admin/update_slider" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4 mt-4">
            <input type="hidden" name="id" value="<%= slider_edit[0].id %>">
           Upadate New  Title 
            <input type="text" class="form-control" value="<%=slider_edit[0].title%>" name="title" id=""><br><br>
        </div>
        <div class="col-md-8 mt-4">
           Upadate New Details
            <input type="text" class="form-control" value="<%=slider_edit[0].details%>" name="details" id=""><br><br>
        </div>
        <div class="col-md-4 mt-4">
            Upadate New Button Text
            <input type="text" class="form-control" value="<%=slider_edit[0].btn_text%>" name="btn_text" id=""><br><br>
        </div>
        <div class="col-md-4 mt-4">
            Upadate New Button Url
            <input type="text" class="form-control" value="<%=slider_edit[0].btn_url%>" name="btn_url" id=""><br><br>
        </div>
        <div class="col-md-4 mt-4">
        Upadate New Slider Image <br><br>
        <img src="/<%=slider_edit[0].slider_image%>" height="150px" width="150px"><br><br>
            <input type="file" class="form-control" name="slider_image"><br><br>
        </div>
        <div class="col-md-12 text-center mt-4">
           <button type="submit" class="btn btn-primary">Update Slider</button>
        </div>
    </div>
    </form>
</div>


