
<%- include("navbar.ejs") %>

<div class="container py-4">

    <!-- Product Title -->
    <h2 class="mb-4">Product Details</h2>

    <div class="row">

        <!-- Left: Product Images -->
        <div class="col-md-5">
            <div class="main-image mb-3">
                <img src=" /upload/<%=product_info[0].product_image1 %>" 
                     class="img-fluid rounded shadow" 
                     alt="<%= product_info[0].product_name %>">
            </div>

            <div class="d-flex gap-2">
                <img src=" /upload/<%=product_info[0].product_image1 %>" 
                     class="img-fluid rounded shadow" 
                     alt="<%= product_info[0].product_name %>" height="80px" width="80px">
                     <img src=" /upload/<%=product_info[0].product_image2 %>" 
                     class="img-fluid rounded shadow" 
                     alt="<%= product_info[0].product_name %>" height="80px" width="80px">
                     <img src=" /upload/<%=product_info[0].product_image3 %>" 
                     class="img-fluid rounded shadow" 
                     alt="<%= product_info[0].product_name %>" height="80px" width="80px">
                     <img src=" /upload/<%=product_info[0].product_image4 %>" 
                     class="img-fluid rounded shadow" 
                     alt="<%= product_info[0].product_name %>" height="80px" width="80px">
            </div>
        </div>

        <!-- Right: Product Information -->
        <div class="col-md-7">

            <h3><%= product_info[0].product_name %></h3>
            <p class="text-muted">Brand: <b><%= product_info[0].product_company %></b></p>

            <p>
                <span class="badge bg-primary"><%= product_info[0].product_lable %></span>
                <span class="ms-3">Color: <b><%= product_info[0].product_color %></b></span>
            </p>

            <!-- Product Details -->
            <div class="mt-3">
                <h5>Description</h5>
                <div>
                    <%- product_info[0].product_detailes %>
                </div>
            </div>

            <!-- Sizes & Prices Table -->
            <div class="mt-4">
                <h5>Available Sizes & Prices</h5>

                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Old Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% product_price.forEach(price => { %>
                            <tr>
                                <td><%= price.product_size %></td>
                                <td><b>&#8377;<%= price.product_price %></b></td>
                                <td class="text-decoration-line-through text-muted">&#8377;<%= price.dublicate_price %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <!-- <button class="btn btn-dark btn-lg mt-3">Add to Cart</button> -->

        </div>
    </div>
</div>

<%- include("footer.ejs") %>
